.img-circle {
    border-radius: 50%;
}

p{
    display: inline;
}

/* unvisited link */
a:hover {
 color: none;
 text-decoration: none;
}
a:link {
 color: none;
 text-decoration: none;
}
a:visited {
 color: none;
 text-decoration: none;
}
a:active {
 color: none;
 text-decoration: none;
}

a.text:link {
 color: #CC4941;
 text-decoration: none;
}
a.text:visited {
 color: #CC4941;
 text-decoration: none;
}
a.text:hover {
 color: #FF7C54;
 text-decoration: none;
}
a.text:active {
 color: #CC4941;
 text-decoration: none;
}
